@charset "ISO-8859-1";
/* CSS Document */

html, body {
background:url("/images/bg.gif") repeat-x scroll 0 0 transparent;
font-size:62.5%;
margin:0;
padding:0;

}

body {
color:#454545;
font-family:Arial,Helvetica,sans-serif;
font-size:1.2em;
text-shadow:0 0 0 #000000;
}


#header_login #login a#lang {
background:url("/images/lang-arrow.png") no-repeat scroll 100% 6px transparent;
display:inline-block;
font-weight:bold;
outline:medium none;
padding-right:11px !important;
position:relative;
z-index:10;
text-align:right;
}
 
#header_login .subnav li a {
color:#000000;
margin:0 9px 0 8px;
text-align:right;
}

#wrap_login {
  width: 376px;
  margin: 0 auto;
}


#header_login {
	height:28px;
	position:relative;
	width:100%;
	z-index:10;
	font-size:15px;
	text-align: right;
}

#login_content h1 {
	display:block;
	height:51px;
	text-align: center;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/images/logo.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.like-btn {
display:inline-block;
outline:medium none;
text-indent:-999em;
}

#header_login .subnav li {
background:url("/images/subnav-dots.png") no-repeat scroll 0 100% transparent;
display:inline-block;
float:left;
}
#header_login .subnav li.first {
background:none repeat scroll 0 0 transparent;
}

.like-btn {
display:inline-block;
outline:medium none;
text-indent:-999em;
}

#login_content_bg {
	width:380px;
	
	font-size:16px;
	font-weight: lighter;
	color:#393939;
	text-align:left;
	background:url(/images/bg_loging.png) no-repeat;
	}
	
	#login_content {
		width:350px;
		padding:10px;
		
		}
	
	#title {
color:#303030;
font-family:Arial,Helvetica,sans-serif;
font-size:28px;
text-align:center;
}

.inputs_codes input{
	
border:1px solid #343434;
color:#B7B7B7;
font:14px Arial,Helvetica,sans-serif;
margin-left:3px;
padding-left:15px;
width:329px;
height:28px;
	}
	
.link_forget {
color:#FF4B00;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;}

.check_login {
	font-size:14px;
	font-weight: lighter;	
	
	}
#submit_button	{
	background:url("../images/button_login_squared.png") repeat scroll 0 0 transparent;
  border-style:none;
  color:white;
  cursor:pointer;
  font-size:0.8em;
  height:38px;
  width:117px;
}
